.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Color-nav {
  background-color: rgb(44, 49, 63);
}

.text-align-center-italic{
  text-align: center;
  font-style: italic;
}

.text-align-center{
  text-align: center;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: rgb(246, 249, 250);
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid rgb(163, 167, 166);
  border-radius: 4px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color:#bfb;
  border-color: #4c4;
}

.radio-toolbar input[type="radio"]:not(:checked) + label {
  background-color: rgb(246, 249, 250);
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
